#appContent {
    background-image: url(../../assets/images/login_register/login_register_background.jpg);
    background-size: cover;
    background-position: center;

    margin-top: -50px;
    padding-top: 50px;

    margin-bottom: -50px;
    padding-bottom: 50px;


    width: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    //radius

    .registerPanel {
        width: 774px;
        height: 530px;
        background: #ffffff;
        display: flex;
        //justify-content: center;
        align-items: center;
        flex-flow: column;
        border-radius: 40px;
        border: #000000 1px solid;


        .registerPanelTitle {
            font-size: 40px;
            font-weight: 800;
            margin-top: 21px;
            margin-bottom: 15px;
        }

        .registerPanelForm {
            width: 722px;
            display: flex;
            flex-flow: column;
            align-items: center;
            justify-content: space-between;

            .inputWraper {
                display: flex;
                flex-flow: column;
                align-items: center;
                justify-content: space-between;
                width: 671px;
                margin-bottom: 8px;


                .inputTitle {
                    font-size: 18px;
                    font-weight: 600;
                    text-align: left;
                    align-self: flex-start;
                    margin: 14px 0 5px 0;
                }

                .input {
                    border: 1px solid #EFEFEF;
                    border-radius: 20px;
                    padding: 0 15px;
                    height: 61px;
                    background-color: #EFEFEF;
                    box-sizing: border-box;
                    transition: 0.3s;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    width: 100%;
                }

                .input:hover {
                    border-color: #888;
                }

            }

            .inputWraperInvalid {
                display: flex;
                flex-flow: column;
                align-items: center;
                justify-content: space-between;
                width: 671px;
                margin-bottom: 8px;

                .inputTitle {
                    color: #a00;
                    font-size: 18px;
                    font-weight: 600;
                    text-align: left;
                    align-self: flex-start;
                    margin: 14px 0 5px 0;
                }

                .input {
                    border: 1px solid #EFEFEF;
                    border-radius: 20px;
                    padding: 0 15px;
                    height: 61px;
                    background-color: #EFEFEF;
                    box-sizing: border-box;
                    transition: 0.3s;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    width: 100%;
                    border-color: #a00;
                }
            }


            .registerPanelButton {
                margin-top: 20px;
                width: 308px;
                height: 61px;
                background-color: #96E9C6;
                color: white;
                border: none;
                border-radius: 20px;
                font-size: 24px;
                cursor: pointer;
                font-weight: 800;
                transition: 0.3s;
            }

            .registerPanelButton:hover {
                background-color: #6962AD;
            }


        }
    }
}