.cart{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    /* Cień kart */
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.50);
    transition: transform 0.3s, box-shadow 0.3s; /* Dodajemy płynne przejście dla cienia */
    will-change: transform;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        border-radius: 10px;
        transition: transform 0.3s; /* Dodajemy płynne przejście do obrazka */
        :hover {
            transform: scale(1.1);
        }
    }
    :hover {
        transform: scale(1.1);
        box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.50);
        z-index: 1;

    }
}