.chat{
    display: flex;
    flex-direction: column;
    width: 378px;
    height: 783px;
    border-radius: 40px;
    background: #FFF;
    box-shadow: 0px 5px 25px 5px rgba(0, 0, 0, 0.25);
    .chatHeader{
        margin-top: 34px;
        display: flex;
        flex-direction: column;

        .chatHeaderLeft{

            .chatHeaderText{
                display: flex;
                justify-content: center;
                align-items: center;

                width: 238px;
                height: 58px;
                flex-shrink: 0;
                border-radius: 0px 40px 40px 0px;
                background: #6C22A6;

                color: #FFF;
                font-size: 24px;
                font-weight: 500;
            }

        }
        .chatHeaderRight {
            margin-top: 20px;
            display: flex;
            justify-content: end;
            .chatHeaderText {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 238px;
                height: 58px;
                flex-shrink: 0;
                border-radius: 40px 0 0 40px;
                background: #96E9C6;

                color: #FFF;
                font-size: 24px;
                font-weight: 500;
            }
        }
    ;
    }

    .chatContent{
        display: flex;
        flex-direction: column;

        align-items: center; /* Wyśrodkowanie elementów w poziomie */
        margin-top: 33px;
        width: 378px;
        height: 580px;
        flex-shrink: 0;
        border-radius: 40px;
        background: #FFF;
        box-shadow: 0px 20px 100px 47px rgba(0, 0, 0, 0.10);

        .chatMessages{
            display: flex;
            flex-direction: column;
            padding: 20px;
            overflow-y: auto; /* Dodaje paski przewijania, gdy zawartość jest zbyt duża */
            flex-grow: 1; /* Rozciąga kontener, aby wypełnić dostępną przestrzeń */
            width: 100%;
            max-width: 100%;
            //break long words
            word-break: break-word;
            /* Ukrywa pasek przewijania w przeglądarkach Webkit (np. Chrome, Safari) */
            ::-webkit-scrollbar {
                display: none;
            }

            /* Ukrywa pasek przewijania w przeglądarkach Firefox */
            scrollbar-width: none;

            .chatMessageMy{
                padding: 7px;
                align-self: flex-start;
                margin-bottom: 10px;
                border-left: 7px solid #96E9C6;
                border-top-left-radius: 7px;
                border-bottom-left-radius: 7px;
                width: 90%;

                .chatMessageText {
                    border-radius: 20px;
                    padding: 10px;
                    display: inline-block;
                    position: relative;
                }
            }
            .chatMessageEnemy{
                padding: 7px;
                align-self: flex-end;
                border-right: 7px solid #6C22A6;
                text-align: right;
                margin-bottom: 10px;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
                width: 90%;

                .chatMessageText {
                    border-radius: 20px;
                    padding: 10px;
                    display: inline-block;
                    position: relative;
                }
            }

        }

        .chatInput{
            display: flex;
            align-items: flex-start; /* Zmienia wyrównanie na górę, aby textarea mogła rosnąć w dół */
            width: 345px;
            min-height: 90px; /* Ustawia minimalną wysokość */
            max-height: 200px; /* Ustawia maksymalną wysokość */
            flex-shrink: 0;
            border-radius: 40px;
            background: #fff;
            box-shadow: 0px 20px 86.5px -4px rgba(0, 0, 0, 0.20);
            position: relative; /* Umożliwia poprawne pozycjonowanie pseudoelementów */
            overflow: hidden; /* Aby pseudo-elementy nie wychodziły poza przycisk */

            padding: 20px;
            margin-bottom: 17px;

            .chatInputText{
                border: none;
                outline: none;
                flex-grow: 1;
                resize: none; /* Usuwa możliwość ręcznego zmieniania rozmiaru przez użytkownika */
                overflow: hidden; /* Ukrywa paski przewijania */
                font-size: 16px;
                min-height: 46px; /* Ustawia minimalną wysokość */
                max-height: 200px; /* Ustawia maksymalną wysokość */
            }


            .chatInputButton{
                background: none;
                border: none;
                padding: 0;
                margin-left: 10px;
                cursor: pointer;
                align-self: flex-end; /* Ustawia przycisk na dole kontenera */
            }
        }
    }
}